.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.checkoutProduct_info {
    padding-left: 20px;
    overflow: hidden;
    /*text from flowing out on resize (checkout page left pane)*/
}

.checkoutProduct_info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
    font-size: 15px;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 500;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
}