.checkout {
    display: flex;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    height: max-content;
    justify-content: space-between;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_left {
    width: 50%;
}

.checkout_right {
    width: 50%;
}

.checkout_item-enter {
    opacity: 0;
}

.checkout_item-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.checkout_item-exit {
    opacity: 1;
}

.checkout_item-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}